body{
    background-color: #EAEAEA;
    font-family: 'Montserrat', sans-serif;
}
.wrapper{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
.center{
    text-align: center;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 23px;
}
.nav{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
}
.nav>li{
    padding-left: 29px;
    margin-left: 23px;
    position: relative;
}
.nav>li:first-child{
    padding-left: 0;
    margin-left: 0;
}
.nav>li::before{
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: #494949;
    position: absolute;
    left: 0;
}
.nav>li:first-child::before{
    display: none;
}
.nav>li>a{
    text-decoration: none;
    color: #494949;
}
.banner{
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 235px;
    padding-bottom: 285px;
}
.pizza{
    position: absolute;
    right: -15px;
    top: -200px;
}
.title{
    font-size: 50px;
    margin-bottom: 10px;
    letter-spacing: 0,5px;
}
.discription{
    font-size: 25px;
    line-height: 30px;
    max-width: 570px;    
    font-family: 'Roboto', sans-serif;
    margin-bottom: 24px;
    margin-top: 0;
    
}
.btn{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-size: 800;
    border: 2px solid #fff;
    padding: 12px 0;
    max-width: 188px;
    text-align: center;
}
.h2{
    font-size: 45px;
    color: #282828;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: relative;
    display: inline-block;
    
    margin-bottom: 11px;
}
.h2::before, .h2::after{
    content: '';
    position: absolute;
    background-image: url(../image/item.png);
    display: block;
    width: 102px;
    height: 28px;
    top: 14px;
}
.h2::before{
    left: -127px;
}
.h2::after{
    right: -127px;
}
.h2 + p{
    color: #959595;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-bottom: 42px;
}
.menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    margin-top: 42px;
    margin-bottom: 63px;
}
.menu > li {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.menu > li::before{
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: #494949;
    position: absolute;
    left: 0;
}
.menu > li:first-child::before{
    display: none;
}
.menu > li > a{
    text-decoration: none;
    color: #494849;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 18px;
}
.menu > li > a.active {
    border-bottom: 4px solid #ee252d;
    position: relative;
}
.menu > li > a.active::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #ee252d;
}
.box {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0, 0.11);
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.box-item {
    padding: 54px 0 41px 55px;
    box-sizing: content-box;
}
.number {
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    font-weight: 900;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    color: #282828;
    margin-bottom: 20px;
}
.number::after {
    content: '';
    display: block;
    position: absolute;
}
.number-one::after {
    background-image: url(../image/pizza1.png);
    width: 126px;
    height: 71px;
    left: 105px;
    top: calc(50% - 35px);
}
.number-two::after {
    background-image: url(../image/pizza2.png);
    width: 184px;
    height: 81px;
    left: 80px;
    top: calc(50% - 40px);
}
.number-three::after {
    background-image: url(../image/pizza3.png);
    width: 142px;
    height: 68px;
    left: 105px;
    top: calc(50% - 34px);
}
.box-text {
    border-right: 1px solid #EAEAEA;
    padding-right: 55px;
}
.box-item:last-child .box-text {
    border-right: none;
}
.box-text h3 {
    font-size: 45px;
    color: #282828;
    margin-bottom: 11px;
    margin-top: 0;
}
.box-text p {
    font-size: 17px;
    color: #282828;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    margin-top: 0;
}
.btn-start {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    background-image: url(../image/bg.png);
    background-position: center center;
    text-decoration: none;
    padding: 29px 58px;
    background-repeat: no-repeat;
}
.page {
    padding-top: 75px;
    padding-bottom: 107px;
}
.footer {
    background-image: url(../image/footer.png);
    padding: 30px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
@media (max-width: 1200px) {
    .wrapper {
        max-width: 800px;
    }
    .pizza {
        display: none;
    }
    .banner {
        padding-top: 76px;
        padding-bottom: 100px;
    }
    .h2 {
        font-size: 35px;
    }
    .h2 + p {
        font-size: 18px;
    }
    .menu > li {
        padding-left: 15px;
        padding-right: 15px;
    }
    .menu > li > a{
        padding-bottom: 15px;
    }
    .box {
        flex-direction: column;
        max-width: 370px;
        margin: auto;
        margin-bottom: 100px;
    }
    .box-item {
        padding: 30px 55px 24px 55px;
    }
    .box-text {
        border-right: none;
        padding-right: 0;
        padding-bottom: 30px;
        border-bottom: 1px solid #EAEAEA;
    }
    .box-item:last-child .box-text {
        border-bottom: none;
    }
}
@media (max-width: 800px) {
    .navigation {
        flex-direction: column;
    }
    .nav {
        margin-top: 34px;
        margin-bottom: 15px;
    }
    .h2::before, .h2::after {
        display: none;
    }
    .menu > li > a{
        padding-bottom: 12px;
    }
    .btn-start {
        font-size: 20px;
        background-size: contain;
    }
    .menu > li > a{
        font-size: 15px;
    }
    .footer {
        padding: 25px 0;
        font-size: 15px;
    }
}
@media (max-width: 570px) {
    .wrapper {
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav {
        font-size: 15px;
    }
    .nav >li {
        padding-left: 17px;
        margin-left: 12px;
    }
    .title {
        font-size: 45;
    }
    .discription {
        font-size: 20px;
    }
    .btn {
        font-size: 15px;
    }
    .menu > li {
        padding-left: 10px;
        padding-right: 10px;
    }
    .menu > li > a{
        font-size: 15px;   
    }
    .h2 {
        font-size: 30px;
    }
    .number {
        font-size: 100px;
    }
    .box-text h3 {
        font-size: 37px;
    }
    .footer {
        padding: 20px 0;
        font-size: 10px;
    }
}
@media (max-width: 498px) {
    .nav {
        font-size: 12px;
    }
    .nav >li {
        padding-left: 12px;
        margin-left: 7px;
    }
    .title {
        font-size: 33px;
    }
    .discription {
        font-size: 15px;
    }
    .btn {
        font-size: 12px;
    }
    .menu > li > a{
        font-size: 11px;   
    }
    .menu > li {
        padding-left: 7px;
        padding-right: 7px;
    }
    .h2 {
        font-size: 25px;
    }
    .number {
        font-size: 75px;
    }
    .number-one::after {
        background-image: none;
        background-image: url(../image/pizza1\ —\ копия.png);
        width: 106px;
        height: 60px;
        left: 105px;
    }
    .number-two::after {
        background-image: none;
        background-image: url(../image/pizza2\ —\ копия.png);
        width: 154px;
        height: 68px;
        left: 80px;
    }
    .number-three::after {
        background-image: none;
        background-image: url(../image//pizza3\ —\ копия.png);
        width: 122px;
        height: 58px;
        left: 105px;
    }
    .box-text h3 {
        font-size: 25px;
    }
    .footer {
        padding: 13px 0;
        font-size: 7px;
    }
    .btn-start {
        font-size: 13px;
    }
}